

.logo {
  height: 50px;
  float: left;
  padding: 10px;
}



header {
  background-color: rgba(77, 89, 103, 1);

}

header::after {
  content:'';
  display: table;
  clear: both;
}

nav {
  float: right;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  display: inline-block;
  margin-left: 70px;
  padding-top: 25px;
  position: relative;
}

nav a {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
}

nav a:hover {
  opacity: 0.7;
}

nav a::before {
  content: '';
  display: block;
  height: 5px;
  width: 0%;
  background-color: red;
  position: absolute;
  top: 0;
  transition: all ease-in-out 200ms;
}

nav a:hover::before {
  width: 100%;
}
